[submodule "deps/alpha-pose"]
	path = deps/alpha-pose
	url = https://github.com/WildflowerSchools/AlphaPose
[submodule "deps/ipython"]
	path = deps/ipython
	url = https://github.com/ipython/ipython
[submodule "deps/jessfraz-dotfiles"]
	path = deps/jessfraz-dotfiles
	url = https://github.com/jessfraz/dotfiles
[submodule "deps/argrento-huami-token"]
	path = deps/argrento-huami-token
	url = https://github.com/argrento/huami-token
[submodule "deps/rbaron-m6-reveng"]
	path = deps/rbaron-m6-reveng
	url = https://github.com/rbaron/m6-reveng
